

#previews {
  display: flex;

}

.preview-image{
  height: 120px;
  width: 120px; 
  margin-right: 10px;
  object-fit: cover;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 10px;
}